USE [master]
GO
/****** Object:  Database [RaceDay]    Script Date: 2026/09/03 16:25:15 ******/
CREATE DATABASE [RaceDay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RaceDay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RaceDay.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RaceDay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RaceDay_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RaceDay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RaceDay]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2026/09/03 16:25:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[EventId] [int] NOT NULL,
	[CategoryName] [varchar](100) NOT NULL,
	[MinimumAge] [int] NULL,
	[MaximumAge] [int] NULL,
	[Distance] [decimal](6, 2) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enrolment]    Script Date: 2026/09/03 16:25:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enrolment](
	[EnrolmentId] [int] IDENTITY(1,1) NOT NULL,
	[ParticipantId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[EnrolmentDate] [datetime] NOT NULL,
	[Status] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Enrolment] PRIMARY KEY CLUSTERED 
(
	[EnrolmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 2026/09/03 16:25:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventId] [int] IDENTITY(1,1) NOT NULL,
	[OrganiserId] [int] NOT NULL,
	[EventName] [varchar](150) NOT NULL,
	[Description] [varchar](1000) NULL,
	[EventDate] [datetime] NOT NULL,
	[Location] [varchar](255) NOT NULL,
	[Distance] [decimal](6, 2) NOT NULL,
	[EventType] [varchar](20) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Event] PRIMARY KEY CLUSTERED 
(
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Result]    Script Date: 2026/09/03 16:25:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Result](
	[ResultId] [int] IDENTITY(1,1) NOT NULL,
	[EnrolmentId] [int] NOT NULL,
	[FinishTime] [time](7) NOT NULL,
	[FinishPosition] [int] NOT NULL,
	[RecordedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[ResultId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 2026/09/03 16:25:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2026/09/03 16:25:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FirstName] [varchar](100) NOT NULL,
	[LastName] [varchar](100) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PasswordHash] [varchar](255) NOT NULL,
	[PhoneNumber] [varchar](20) NULL,
	[DateOfBirth] [date] NULL,
	[CreatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [EventId], [CategoryName], [MinimumAge], [MaximumAge], [Distance]) VALUES (1, 1, N'Under 20', NULL, 19, CAST(10.00 AS Decimal(6, 2)))
INSERT [dbo].[Category] ([CategoryId], [EventId], [CategoryName], [MinimumAge], [MaximumAge], [Distance]) VALUES (2, 1, N'Senior', 20, NULL, CAST(10.00 AS Decimal(6, 2)))
INSERT [dbo].[Category] ([CategoryId], [EventId], [CategoryName], [MinimumAge], [MaximumAge], [Distance]) VALUES (3, 2, N'21km Open', 18, NULL, CAST(21.10 AS Decimal(6, 2)))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Enrolment] ON 

INSERT [dbo].[Enrolment] ([EnrolmentId], [ParticipantId], [EventId], [CategoryId], [EnrolmentDate], [Status]) VALUES (1, 3, 1, 2, CAST(N'2026-08-01T10:00:00.000' AS DateTime), N'Completed')
INSERT [dbo].[Enrolment] ([EnrolmentId], [ParticipantId], [EventId], [CategoryId], [EnrolmentDate], [Status]) VALUES (2, 4, 1, 2, CAST(N'2026-08-02T11:30:00.000' AS DateTime), N'Completed')
INSERT [dbo].[Enrolment] ([EnrolmentId], [ParticipantId], [EventId], [CategoryId], [EnrolmentDate], [Status]) VALUES (3, 3, 2, 3, CAST(N'2026-08-20T09:00:00.000' AS DateTime), N'Registered')
SET IDENTITY_INSERT [dbo].[Enrolment] OFF
GO
SET IDENTITY_INSERT [dbo].[Event] ON 

INSERT [dbo].[Event] ([EventId], [OrganiserId], [EventName], [Description], [EventDate], [Location], [Distance], [EventType], [CreatedAt]) VALUES (1, 1, N'Cape Town City Run', N'A 10km road running event through central Cape Town.', CAST(N'2026-08-15T07:00:00.000' AS DateTime), N'Cape Town, Western Cape', CAST(10.00 AS Decimal(6, 2)), N'Run', CAST(N'2026-09-02T12:14:53.633' AS DateTime))
INSERT [dbo].[Event] ([EventId], [OrganiserId], [EventName], [Description], [EventDate], [Location], [Distance], [EventType], [CreatedAt]) VALUES (2, 1, N'Peninsula Half Marathon', N'A 21km half marathon for runners of different age groups.', CAST(N'2026-10-03T06:30:00.000' AS DateTime), N'Cape Peninsula, Western Cape', CAST(21.10 AS Decimal(6, 2)), N'Run', CAST(N'2026-09-02T12:14:53.633' AS DateTime))
INSERT [dbo].[Event] ([EventId], [OrganiserId], [EventName], [Description], [EventDate], [Location], [Distance], [EventType], [CreatedAt]) VALUES (3, 2, N'Cape Cycle Challenge', N'A cycling event suitable for recreational and experienced cyclists.', CAST(N'2026-11-14T07:30:00.000' AS DateTime), N'Cape Town, Western Cape', CAST(40.00 AS Decimal(6, 2)), N'Cycle', CAST(N'2026-09-02T12:14:53.633' AS DateTime))
SET IDENTITY_INSERT [dbo].[Event] OFF
GO
SET IDENTITY_INSERT [dbo].[Result] ON 

INSERT [dbo].[Result] ([ResultId], [EnrolmentId], [FinishTime], [FinishPosition], [RecordedAt]) VALUES (1, 1, CAST(N'00:47:35' AS Time), 12, CAST(N'2026-08-15T10:00:00.000' AS DateTime))
INSERT [dbo].[Result] ([ResultId], [EnrolmentId], [FinishTime], [FinishPosition], [RecordedAt]) VALUES (2, 2, CAST(N'00:52:18' AS Time), 18, CAST(N'2026-08-15T10:05:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Result] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (1, N'Organiser')
INSERT [dbo].[Role] ([RoleId], [RoleName]) VALUES (2, N'Participant')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [LastName], [Email], [PasswordHash], [PhoneNumber], [DateOfBirth], [CreatedAt]) VALUES (1, 1, N'Thandi', N'Ndlovu', N'thandi.ndlovu@raceday.co.za', N'E0BB291EE44EDA22FA18A575B3604CE745C03DE36110B1051D86A4C33234F5AD', N'0821234567', CAST(N'1988-05-15' AS Date), CAST(N'2026-09-02T12:12:42.750' AS DateTime))
INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [LastName], [Email], [PasswordHash], [PhoneNumber], [DateOfBirth], [CreatedAt]) VALUES (2, 1, N'Michael', N'Jacobs', N'michael.jacobs@raceday.co.za', N'F812CAA20BCB71FAEE07F90568E768A4AF13744579BE1CFDF57DDE18FACD5FF2', N'0832345678', CAST(N'1990-09-22' AS Date), CAST(N'2026-09-02T12:12:42.750' AS DateTime))
INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [LastName], [Email], [PasswordHash], [PhoneNumber], [DateOfBirth], [CreatedAt]) VALUES (3, 2, N'Sipho', N'Dlamini', N'sipho.dlamini@email.com', N'B3B7E418B6F8A115E173DA2ADF32048A340E29EDA5CA7A1D87E75F7FE0EB9672', N'0843456789', CAST(N'2001-03-10' AS Date), CAST(N'2026-09-02T12:12:42.750' AS DateTime))
SET IDENTITY_INSERT [dbo].[User] OFF
GO
/****** Object:  Index [UQ_Result_Enrolment]    Script Date: 2026/09/03 16:25:15 ******/
ALTER TABLE [dbo].[Result] ADD  CONSTRAINT [UQ_Result_Enrolment] UNIQUE NONCLUSTERED 
(
	[EnrolmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Role_RoleName]    Script Date: 2026/09/03 16:25:15 ******/
ALTER TABLE [dbo].[Role] ADD  CONSTRAINT [UQ_Role_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_User_Email]    Script Date: 2026/09/03 16:25:15 ******/
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [UQ_User_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Enrolment] ADD  CONSTRAINT [DF_Enrolment_EnrolmentDate]  DEFAULT (getdate()) FOR [EnrolmentDate]
GO
ALTER TABLE [dbo].[Enrolment] ADD  CONSTRAINT [DF_Enrolment_Status]  DEFAULT ('Registered') FOR [Status]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF_Event_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Result] ADD  CONSTRAINT [DF_Result_RecordedAt]  DEFAULT (getdate()) FOR [RecordedAt]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD  CONSTRAINT [FK_Category_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
ALTER TABLE [dbo].[Category] CHECK CONSTRAINT [FK_Category_Event]
GO
ALTER TABLE [dbo].[Enrolment]  WITH CHECK ADD  CONSTRAINT [FK_Enrolment_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Enrolment] CHECK CONSTRAINT [FK_Enrolment_Category]
GO
ALTER TABLE [dbo].[Enrolment]  WITH CHECK ADD  CONSTRAINT [FK_Enrolment_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([EventId])
GO
ALTER TABLE [dbo].[Enrolment] CHECK CONSTRAINT [FK_Enrolment_Event]
GO
ALTER TABLE [dbo].[Enrolment]  WITH CHECK ADD  CONSTRAINT [FK_Enrolment_Participant] FOREIGN KEY([ParticipantId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Enrolment] CHECK CONSTRAINT [FK_Enrolment_Participant]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [FK_Event_Organiser] FOREIGN KEY([OrganiserId])
REFERENCES [dbo].[User] ([UserId])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [FK_Event_Organiser]
GO
ALTER TABLE [dbo].[Result]  WITH CHECK ADD  CONSTRAINT [FK_Result_Enrolment] FOREIGN KEY([EnrolmentId])
REFERENCES [dbo].[Enrolment] ([EnrolmentId])
GO
ALTER TABLE [dbo].[Result] CHECK CONSTRAINT [FK_Result_Enrolment]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [CK_Event_EventType] CHECK  (([EventType]='Cycle' OR [EventType]='Walk' OR [EventType]='Run'))
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [CK_Event_EventType]
GO
USE [master]
GO
